@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ShadowHand';
	src: url('//2ttf.com/webfont/UIswCwhB/webfont.ttf') format('truetype');
}

@layer base {
	:root,
	.dark {
		--background: 60 52% 99%;
		--foreground: 144 5% 18%;

		--muted: 80 6% 91%;
		--muted-foreground: 0 0% 45.1%;

		--popover: 60 52% 99%;
		--popover-foreground: 144 5% 18%;

		--card: 60 52% 99%;
		--card-foreground: 144 5% 18%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;

		--primary: 144 5% 18%;
		--primary-foreground: 60 52% 99%;

		--secondary: 42 100% 50%;
		--secondary-dimmed: 37 100% 91%;
		--secondary-foreground: 42 100% 98%;
		--secondary-foreground-dimmed: 42 100% 35%;

		--accent: 42 100% 50%;
		--accent-foreground: 42 100% 98%;

		--destructive: 0 80% 50%;
		--destructive-dimmed: 3 78% 89%;
		--destructive-foreground: 0 0% 100%;
		--destructive-foreground-dimmed: 0 100% 35%;

		--ring: 144 5% 18%;
		--radius: 0.675rem;

		--sidebar-background: 60 52% 99%;
		--sidebar-foreground: 144 5% 18%;
		--sidebar-primary: 144 5% 18%;
		--sidebar-primary-foreground: 60 52% 99%;
		--sidebar-accent: 42 100% 50%;
		--sidebar-accent-foreground: 42 100% 98%;
		--sidebar-border: 0 0% 89.8%;
		--sidebar-ring: 144 5% 18%;

		--bark-background: 60 52% 2%;
	}
}

@layer base {
	* {
		@apply m-0 box-border border-border p-0;
	}
	html,
	body {
		background: hsl(60, 52%, 2%);
	}
	body {
		@apply touch-none overflow-x-hidden overscroll-none p-2 text-foreground;
	}
}
